* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green-color: #4ba120;
  --black-transparent: rgba(0, 0, 0, 0.95);
  --gray-transparent: rgba(131, 131, 131, 0.5);
}

/* second layer */
.background-color {
  width: 100vw;
  height: 100vh;
  background-color: var(--black-transparent);
  position: absolute;
}

/* "third layer" - insert background image (battleship) */
.background-img {
  background-image: url(./BattleshipCannons.jpeg);
  width: 100vw;
  height: 100vh;
  /* forbid image from repeating across the page */
  background-repeat: no-repeat;
  /* resizing image to make it full page */
  background-size: cover;
  /* repositioning inside of parent (body in this case), to make it possible to hover over image */
  position: absolute;
}

/* create grid  */
.grid-container {
  width: 100vw;
  height: 100vh;
  /* important to make it "display: grid"  */
  display: grid;
  /* create 11 columns */
  grid-template-columns: repeat(11, auto);
  /* create 9 rows */
  grid-template-rows: repeat(9, auto);
  justify-content: center;
  align-content: center;
  position: relative;
}

/* borders */
.grid-item {
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--gray-transparent);
}

.inner-grid {
  border: 1.5px solid var(--green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.outer-grid-top {
  border-bottom: 5px solid var(--green-color);
}
.outer-grid-bottom {
  border-top: 5px solid var(--green-color);
  color: var(--green-color);
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.outer-grid-right {
  border-left: 5px solid var(--green-color);
}
.outer-grid-left {
  border-right: 5px solid var(--green-color);
  color: var(--green-color);
  display: grid;
  justify-content: right;
  align-content: center;
  font-size: 2rem;
  padding-right: 13px;
}

.top {
  border-top: none;
}
.bottom {
  border-bottom: none;
}
.left {
  border-left: none;
}
.right {
  border-right: none;
}

.input {
  display: block;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

/* ! */
.text-inner-miss {
  font-size: 2rem;
  color: var(--green-color);
  /* display: none; */
  cursor: not-allowed;
}

.battleship-icon {
  width: 5rem;
  height: 6rem;
  /* display: none; */
  cursor: not-allowed;
}
/* ! */
