* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green-color: rgb(43, 86, 43);
  --black-transparent: rgba(0, 0, 0, 0.86);
  --gray-transparent: rgba(131, 131, 131, 0.5);
}

/* !problems with image */
.background-img {
  background-image: url(./2.jpg);
  width: 100vh;
  height: 100vh;
}
/*! 1 */

body {
  background-color: var(--black-transparent);
}
/* create grid  */

.grid-container {
  min-height: 100vh;
  background-color: #777;
  /* important to make it "display: grid"  */
  display: grid;
  /* create 11 columns */
  grid-template-columns: repeat(11, auto);
  /* create 9 rows */
  /* hardcoded numbers for perfect size on the screen */
  grid-template-rows: repeat(9, 6.06rem);
  /* grid-gap: 5px; */
  border: 2rem solid var(--black-transparent);
  position: relative;
}

/* borders */
.grid-item {
  height: auto;
  width: auto;
  background-color: var(--black-transparent);
  border: 3px solid var(--gray-transparent);
}

.inner-grid {
  border: 3px solid var(--green-color);
}
.outer-grid-top {
  border-bottom: 5px solid var(--green-color);
}
.outer-grid-bottom {
  border-top: 5px solid var(--green-color);
}
.outer-grid-right {
  border-left: 5px solid var(--green-color);
}
.outer-grid-left {
  border-right: 5px solid var(--green-color);
}

.top {
  border-top: none;
}
.bottom {
  border-bottom: none;
}
.left {
  border-left: none;
}
.right {
  border-right: none;
}

.input {
  display: block;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

#miss-text {
  display: block;
  position: absolute;
}

/* .grid-item-14 {
  padding: 1rem;
} */
